{%  extends "layout.html" %}

{%  block title %}
    Mission Ballroom
{%  endblock %}

{% block main %}
    <table class="table table-striped table-hover table-dark" id="shows_table">
      <tbody>
          {% for row in event_info_list %}
                <tr>
                  <td>{{ row[0] }}</td>
                  <td>{{ row[1] }}</td>
                  <td>
                      <button type="button" class="btn btn-outline-danger" onclick="window.open('{{ row[2] }}','_blank')">
                          Get Tickets
                      </button>
                  </td>
                </tr>
            {% endfor %}
      </tbody>
    </table>
{%  endblock %}

{%  block footer %}
    Data web scraped from <a href="https://www.missionballroom.com/upcoming-events/" target="_blank">Mission Ballroom</a>.
{% endblock %}