{%  extends "layout.html" %}

{%  block title %}
    Red Rocks Amphitheater
{%  endblock %}

{% block main %}
    <table class="table table-striped table-hover table-danger" id="shows_table">
      <tbody>
        <tr>
          <td>event_title</td>
          <td>event_date</td>
          <td>get_tickets_button</td>
        </tr>
    </table>
{%  endblock %}

{%  block footer %}
    Data web scraped from <a href="https://www.redrocksonline.com/events/?view=grid" target="_blank">Red Rocks</a>.
{% endblock %}